@font-face {
  font-family: "sporten_personal_useregular";
  src: url("ressources/sportenpersonaluse-nrydv-webfont.woff2") format("woff2"),
    url("ressources/sportenpersonaluse-nrydv-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Marcellus SC', serif;
  font-weight: normal;
  font-style: normal;
}

.epreuves {
  h2 {
    font-family: 'Marcellus SC', serif;
  }
}

.titre-form {
  h2 {
    font-family: 'Marcellus SC', serif;
  }
}
 


$ice: #00b7c47e;
$fontone: "sporten_personal_useregular";

* {
  padding: 0;
  margin: 0;
}

.template{
  background-image: url(ressources/skieur.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.container-header {
  height: 100vh;
  width: 100%;

  .titre {
    h1 {
      color: white;
      font-family: $fontone;
      font-size: 70px;
      text-align: center;
      padding-top: 20px;
    }
  }

  .menu {
    width: 100%;
    height: 60px;
    background-color: #00b7c485;
    margin-top: 40px;

    nav ul {
      display: flex;
      justify-content: space-around;

      li {
        font-size: 30px;
        list-style-type: none;
        color: white;
        line-height: 60px;
      }
    }
  }
  .main {
    .name_date {
      background: rgba(3, 3, 3, 0.692);
      height: 340px;
      width: 340px;
      margin: 0 auto;
      overflow: hidden;
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 150px;

      .epreuves {
        h2 {
          color: rgb(13, 178, 228);
          font-size: 60px;
          text-align: center;
          margin-top: 10px;
        }
      }

      .inputone {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 35px;

        label {
          font-size: 20px;
          color: white;
          margin: 0 auto;
        }

        input {
          height: 20px;
          width: 210px;
        }
      }

      .inputtwo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 30px;

        label {
          font-size: 20px;
          color: white;
          margin: 0 auto;
        }

        
      }
      .test-sub {
        input {
        margin-top: 30px;
        width: 60px;
      }
      .nabil:hover {
          background-color: rgb(3, 41, 253);
          cursor: pointer;
        }
      }
    }
  }

  .form {
    background: rgba(3, 3, 3, 0.692);
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 600px;
    width: 700px;
    margin: 150px auto;
    margin-bottom: 50px;

    .titre-form {
      h2 {
        font-size: 60px;
        color: rgb(13, 178, 228);
        text-align: center;
        height: 50px;
        margin-bottom: 10px;
      }
    }

    label {
      color: white;
      font-size: 20px;
    }

    .la-in {
      margin: 0 auto;
      height: auto;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 350px);
      grid-template-rows: 100px 100px 200px 100px;

      .form1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .form2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .form3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .form4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .form5 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .form6 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .form7 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-column: 1/3;
      }
    }
  }
}

input[type="text"] {
  height: 20px;
  width: 210px;
}

input[type="email"] {
  height: 20px;
  width: 210px;
}

input[type="date"] {
  height: 20px;
  width: 210px;
}

input[type="submit"] {
  height: 30px;
  width: 220px;
}

.form7{
    input{
      width: 60px;
    }
    #marjorie:hover {
    background-color: rgb(3, 41, 253);
    cursor: pointer;
  }
}

input[type="file"] {
  height: 200px;
  width: 220px;
  background-color: white;
  position: absolute;

  #picture {
    position: relative;
    color: black;
  }
}

.form6 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .file-upload {
    height: 150px;
    width: 150px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ffffff;
    overflow: hidden;
    background-image: linear-gradient(to bottom, #2590eb 50%, #ffffff 50%);
    background-size: 100% 200%;
    transition: all 1s;
    color: #ffffff;
    font-size: 60px;

    input[type="file"] {
      height: 200px;
      width: 200px;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      cursor: pointer;
    }

    &:hover {
      background-position: 0 -100%;
      color: #2590eb;
    }
  }
}

.pied-page{
  height: 60px;
  width: 100%;
}


/* deuxieme page*/

@font-face {
  font-family: "sporten_personal_useregular";
  src: url("ressources/sportenpersonaluse-nrydv-webfont.woff2") format("woff2"), url("ressources/sportenpersonaluse-nrydv-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sporten_personal_useregular";
  src: url("ressources/sportenpersonaluse-nrydv-webfont.woff2") format("woff2"),
    url("ressources/sportenpersonaluse-nrydv-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Marcellus SC', serif;
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url(ressources/skieuse.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-start {
  height: 100vh;
  width: 100%;
  color: #000;

  .titre-header {
    h1 {
      color: rgb(19, 170, 230);
      font-family: $fontone;
      font-size: 70px;
      text-align: center;
      padding-top: 20px;
    }
  }
}

.menu-start {
  width: 100%;
  height: 60px;
  background-color: #00b7c485;
  margin-top: 40px;

  nav ul {
    display: flex;
    justify-content: space-around;

    li {
      font-size: 30px;
      list-style-type: none;
      color: white;
      line-height: 60px;
    }
  }
}

.main {
  display: flex;
  margin: 90px;

  .category {
    display: flex;
    justify-content: space-around;
    background-color: white;
    height: 500px;
    width: 100%;
    
      
  
  }
}



.back-date {
  background-color: #00b7c485;
    height: 500px;
    width: 220px;
    margin: 0 0 0 50px;
    display: flex;
    flex-wrap: wrap;
    border: #a8cdcf85 solid;
    border-radius: 2%;
    
    h2 {
      color: white;
      padding-left: 18px;
    }
  }

  .end-page{
    height: 60px;
    width: 100%;
  }



