.epreuves h2 {
  font-family: "Marcellus SC", serif;
}

.titre-form h2 {
  font-family: "Marcellus SC", serif;
}

* {
  padding: 0;
  margin: 0;
}

.template {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-header {
  height: 100vh;
  width: 100%;
}

.container-header .titre h1 {
  color: white;
  font-family: "sporten_personal_useregular";
  font-size: 70px;
  text-align: center;
  padding-top: 20px;
}

.container-header .menu {
  width: 100%;
  height: 60px;
  background-color: #00b7c485;
  margin-top: 40px;
}

.container-header .menu nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container-header .menu nav ul #link {
  font-size: 30px;
  text-decoration: none;
  color: white;
  line-height: 60px;
}

.container-header .menu nav ul #link:hover {
  color: black;
}

.container-header .valide {
  background: rgba(3, 3, 3, 0.37);
  border-radius: 5px;
  border: 2px solid black;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  left: 1500px;
  top: 300px;
  margin-right: 50px;
  font-size: 25px;
  position: fixed;
}

.container-header button:hover {
  background-color: #00b7c47e;
  cursor: pointer;
}

.container-header .main .name_date {
  background: rgba(3, 3, 3, 0.692);
  height: 340px;
  width: 340px;
  margin: 0 auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 150px;
}

.container-header .main .name_date .epreuves h2 {
  color: #0db2e4;
  font-size: 60px;
  text-align: center;
  margin-top: 10px;
}

.container-header .main .name_date .inputone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 35px;
}

.container-header .main .name_date .inputone label {
  font-size: 20px;
  color: white;
  margin: 0 auto;
}

.container-header .main .name_date .inputone input {
  height: 20px;
  width: 210px;
}

.container-header .main .name_date .inputtwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.container-header .main .name_date .inputtwo label {
  font-size: 20px;
  color: white;
  margin: 0 auto;
}

.container-header .main .name_date .inputthree {
  margin-top: 40px;
}

.container-header .main .name_date .inputthree input {
  width: 60px;
  height: 25px;
}

.container-header .main .name_date .inputthree input[type="text"] {
  text-align: center;
}

.container-header .main .name_date .inputthree input:hover {
  background-color: #0ceef6;
  cursor: pointer;
}

.container-header .main .name_date .test-sub input {
  margin-top: 30px;
  width: 60px;
}

.container-header .main .name_date .test-sub .nabil:hover {
  background-color: #0329fd;
  cursor: pointer;
}

.container-header #form {
  background: rgba(3, 3, 3, 0.692);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 700px;
  width: 700px;
  margin: 150px auto;
  margin-bottom: 50px;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.container-header #form .titre-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

.container-header #form .titre-form h2 {
  font-size: 60px;
  color: #0db2e4;
  text-align: center;
}

.container-header #form label {
  color: white;
  font-size: 20px;
}

.container-header #form .la-in {
  margin: 0 auto;
  height: auto;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (350px)[2];
      grid-template-columns: repeat(2, 350px);
  -ms-grid-rows: 100px 100px 200px 100px;
      grid-template-rows: 100px 100px 200px 100px;
}

.container-header #form .la-in .form1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-header #form .la-in .form2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-header #form .la-in .form3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-header #form .la-in .form4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-header #form .la-in .form5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}

.container-header #form .la-in .form5 label {
  margin-top: 50px;
}

.container-header #form .la-in .form6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 300px;
}

.container-header #form .la-in .form7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-header #form .la-in .form7 div {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

.container-header #form .la-in .form7 div:hover {
  background-color: #00b7c47e;
  cursor: pointer;
}

.container-header #form .la-in .form8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-header #form .la-in button {
  width: 70px;
  height: 30px;
}

.container-header #form .la-in .form9 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.liste-participant {
  background-color: #08080885;
  width: 70%;
  height: auto;
  margin: 20px auto;
  display: none;
  -ms-grid-rows: (2)[2];
      grid-template-rows: repeat(2, 2);
}

.liste-participant tr {
  height: 80px;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.liste-participant tr td {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.liste-participant .liste-header {
  background: rgba(15, 113, 226, 0.685);
  width: 100%;
  color: white;
}

.liste-participant .liste-header tr {
  height: 80px;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.liste-participant .liste-header tr th {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
}

.liste-participant .liste-header .nbr-parti {
  background-color: rgba(145, 240, 219, 0.698);
}

.liste-participant .liste-middle {
  background: rgba(251, 251, 251, 0.575);
  width: 100%;
}

.liste-participant .liste-middle tr {
  height: 80px;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.liste-participant .liste-middle tr td {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input[type="text"] {
  height: 20px;
  width: 210px;
}

input[type="email"] {
  height: 20px;
  width: 210px;
}

input[type="date"] {
  height: 20px;
  width: 210px;
}

input[type="submit"] {
  height: 30px;
  width: 220px;
}

.form7 #dossardBtn {
  width: 80px;
  height: 50px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.form9 input {
  width: 60px;
}

#marjorie:hover {
  background-color: #0ceef6;
  cursor: pointer;
}

input[type="file"] {
  height: 200px;
  width: 220px;
  background-color: white;
  position: absolute;
}

input[type="file"] #picture {
  position: relative;
  color: black;
}

.form6 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form6 .file-upload {
  height: 150px;
  width: 150px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #ffffff;
  overflow: hidden;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #2590eb), color-stop(50%, #ffffff));
  background-image: linear-gradient(to bottom, #2590eb 50%, #ffffff 50%);
  background-size: 100% 200%;
  -webkit-transition: all 1s;
  transition: all 1s;
  color: #ffffff;
  font-size: 60px;
}

.form6 .file-upload input[type="file"] {
  height: 200px;
  width: 200px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.form6 .file-upload:hover {
  background-position: 0 -100%;
  color: #2590eb;
}

.pied-page {
  height: 60px;
  width: 100%;
}

.container-start {
  height: 100vh;
  width: 100%;
  color: #000;
}

.container-start .titre-header h1 {
  color: #13aae6;
  font-family: "sporten_personal_useregular";
  font-size: 70px;
  text-align: center;
  padding-top: 20px;
}

.menu-start {
  width: 100%;
  height: 60px;
  background-color: #00b7c485;
  margin-top: 40px;
}

.menu-start nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu-start nav ul li {
  font-size: 30px;
  list-style-type: none;
  color: white;
  line-height: 60px;
}

.main-resultat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 90px auto;
  width: 100%;
}

.main-resultat .name-station {
  text-align: center;
  margin-top: 5px;
}

.main-resultat .date-epr {
  text-align: center;
  margin-top: 5px;
}

.main-resultat .category {
  background-color: #08080885;
  height: 500px;
  width: 78%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-resultat .category .header-table {
  background-color: #00b7c485;
  height: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-resultat .category tr {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-resultat .category tr th {
  color: white;
  font-size: 20px;
  width: 120px;
}

.main-resultat .category .body-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(42, 166, 248, 0.7);
  height: 450px;
}

.main-resultat .category .body-table tr {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-sizing: 0;
          box-sizing: 0;
}

.main-resultat .category .body-table td {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  border-collapse: collapse;
  width: 50px;
  height: 50px;
  text-align: center;
}

.main-resultat .category .body-table td img {
  width: 50px;
}

.main-resultat .category .body-table tr:hover {
  background-color: rgba(6, 42, 160, 0.548);
}

.main-resultat .category .body-table > tr:nth-child(even) {
  background-color: rgba(121, 194, 231, 0.897);
}

.main-resultat .category .body-table > tr:nth-child(even):hover {
  background-color: rgba(6, 42, 160, 0.548);
}

.back-date {
  background-color: #00b7c485;
  height: 498px;
  width: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: #a8cdcf85 solid;
  border-bottom: none;
  border-radius: 1%;
}

.back-date h2 {
  color: white;
  width: 80%;
  padding-left: 18px;
  text-align: center;
}

#infinite-list {
  overflow: auto;
}

#row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.column {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */